<h1>Editing integration</h1>
<br>
<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @integration %> |
<%= link_to 'Back', integrations_path(@integration) %>
